#
# These are all packages to make all implementations work
#

utils
imutils

distance
numpy
datetime
scipy==1.4.1
tensorflow==2.9.3
configparser
argparse
Input
keras
pynput
six
requests
seaborn

matplotlib

opencv-python
pafy
youtube_dl

cmake
dlib
face_recognition
